<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Eventos</span>
	                    </li>
	                </ul>
	                
	                <a class="btn btn-primary btn-md" th:href="@{/evento/listar}" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Eventos</span>
	                </a>
	            </div>
	        </nav>
		<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}">
											</div>


		<div class="card-body">
			<form method="POST" th:object="${evento}" th:action="@{/evento/novo}">
				<input type="hidden" th:field="*{id}">
				<div class="form-group mb-3">
					<label for="nome">Nome do Evento</label>
					<input class="form-control" type="text" th:field="*{nome}" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
				</div>
				<div class="form-group mb-3">
					<label for="nome">Data de Inicio</label>
					<input class="form-control" type="date" th:field="*{dataInicio}" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('dataInicio')}" th:errors="*{dataInicio}"></div>
				</div>
				<div class="form-group mb-3">
					<label for="nome">Data Final</label>
					<input class="form-control" type="date" th:field="*{dataFinal}" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('dataFinal')}" th:errors="*{dataFinal}"></div>
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>


		
	

	    </section>
</body>
</html>